@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
}

.app {
  display: grid;
  grid-template-columns: min-content 1fr;
}

#avatar {
  width: 80px;
  border-radius: 50%;
}

.sidebar {
  /* background-color: ivory; */
  border: 1px solid gray;
  border-top: 0;
  width: 20vw;
  padding: 40px;
  /* border-radius: 0 7px 7px 0px; */
  display: flex;
  flex-direction: column;
}

.userinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 450;
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.userinfo > svg {
  font-size: 60px;
}

.projects {
  margin-top: 10px;
  flex: 1;
}

.projects > p {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 10px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;
}

svg {
  font-size: 24px;
}

.project-list div {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.project-list div:hover {
  transform: scale(1.05);
}

.add-project-btn {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 17px;
}

.add-project-btn > div {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.archive {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.archive:hover {
  transform: scale(1.05);
}

.main {
  padding: 20px;
  width: 55vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 30px;
  border-bottom: 1px solid grey;
  text-align: center;
}

.tasks-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 8px;
  width: auto;
  flex: 1;
}

.task {
  display: flex;
  font-size: 18px;
  gap: 10px;
  width: auto;
  box-shadow: 1px 1px 2px grey;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  align-items: center;
}

.task:hover {
  transform: scale(1.02);
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox img {
  width: 25px;
}

.actions {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.actions > div:hover {
  box-shadow: 1px 1px 10px grey;
  transform: scale(1.1);
  border-radius: 5px;
  cursor: pointer;
}

.checked {
  display: none;
}

.checkbox:hover .unchecked {
  display: none;
}

.checkbox:hover .checked {
  display: inline;
}

.completed-title {
  margin-top: 40px;
  font-size: 20px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
